/*Estilos personalizados

(Usar el prefijo cat para saber que son nuestros estilos).
*/

.cat-inside-input
{
	position: absolute;
	right:30px;
	top:10px;
}

.cat-pointer
{
	cursor: pointer;
}
.optionsUser .fas {
	visibility: hidden;
	color: #2F458F;
}

.optionsUser:hover .fas {
	visibility: visible;
	color: #2F458F;
}

/*----------Tooltip--------*
/* Tooltip container */
.cat-tooltip {
	position: relative;
	display: inline-block;
}

button:hover{
	cursor: pointer;
}

/* Tooltip text */
.cat-tooltip .cat-tooltiptext {
	visibility: hidden;
	width: 400px;
	/* Show the tooltip text when you mouse over the tooltip container */
	background-color: #535353;;
	color: #fff;
	padding: 5px;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;

	top: -5px;
	left: 105%; 	
}

/* Show the tooltip text when you mouse over the tooltip container */
.cat-tooltip:hover .cat-tooltiptext {
	visibility: visible;
}

.delete-option{
	
}

.dissapear{
	    color: white;
    opacity: 0.1;
}

.card-list{
	max-height: 25rem;
}
ul.list-group-custom{
	list-style: none;
	overflow-y: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
ul.list-group-custom li{
	border-top: 1px solid #ccc;
	/* border-bottom: 1px solid #ccc; */
}

li.addedOperators:hover{
	background-color: #ccc;
}
/*------------------------*/